# Ignore node_modules in all subfolders
**/node_modules/

# Logs
**/npm-debug.log
**/yarn-debug.log
**/yarn-error.log
**/pnpm-debug.log

# OS files
.DS_Store
Thumbs.db

# Env files
**/.env
**/.env.*
**/*.env


# ignore dist or build folders in all projects
**/dist/
**/build/